venv/
data/
data/train/images/0109.jpg
data/train/images/0152.jpg
data/train/images/0214.jpg
data/train/images/0223.jpg
data/train/images/0260.jpg
data/train/images/0262.jpg
data/train/images/0265.jpg
data/train/images/0305.jpg
data/train/images/0363.jpg
data/train/images/0393.jpg
data/train/images/0432.jpg
data/train/images/0574.jpg
data/train/images/0644.jpg
data/train/images/0724.jpg
data/train/images/0751.jpg
data/train/images/0781.jpg
data/train/images/0791.jpg
data/train/images/0813.jpg
data/train/labels/0006.csv
data/train/labels/0007.csv
data/train/labels/0008.csv
data/train/labels/0009.csv
data/train/labels/0011.csv
data/train/labels/0012.csv
data/train/labels/0020.csv
data/train/labels/0022.csv
data/train/labels/0024.csv
data/train/labels/0025.csv
data/train/labels/0030.csv
data/train/labels/0032.csv
data/train/labels/0037.csv
data/train/labels/0040.csv
data/train/labels/0044.csv
data/train/labels/0064.csv
data/train/labels/0073.csv
data/train/labels/0077.csv
data/train/labels/0079.csv
data/train/labels/0082.csv
data/train/labels/0085.csv
data/train/labels/0086.csv
data/train/labels/0090.csv
data/train/labels/0097.csv
data/train/labels/0098.csv
data/train/labels/0107.csv
data/train/labels/0112.csv
data/train/labels/0116.csv
data/train/labels/0123.csv
data/train/labels/0138.csv
data/train/labels/0151.csv
data/train/labels/0152.csv
data/train/labels/0157.csv
data/train/labels/0161.csv
data/train/labels/0164.csv
data/train/labels/0166.csv
data/train/labels/0175.csv
data/train/labels/0176.csv
data/train/labels/0178.csv
data/train/labels/0183.csv
data/train/labels/0191.csv
data/train/labels/0192.csv
data/train/labels/0193.csv
data/train/labels/0199.csv
data/train/labels/0212.csv
data/train/labels/0214.csv
data/train/labels/0218.csv
data/train/labels/0223.csv
data/train/labels/0232.csv
data/train/labels/0238.csv
data/train/labels/0244.csv
data/train/labels/0253.csv
data/train/labels/0258.csv
data/train/labels/0260.csv
data/train/labels/0262.csv
data/train/labels/0265.csv
data/train/labels/0266.csv
data/train/labels/0267.csv
data/train/labels/0271.csv
data/train/labels/0273.csv
data/train/labels/0280.csv
data/train/labels/0294.csv
data/train/labels/0309.csv
data/train/labels/0319.csv
data/train/labels/0324.csv
data/train/labels/0328.csv
data/train/labels/0334.csv
data/train/labels/0344.csv
data/train/labels/0354.csv
data/train/labels/0363.csv
data/train/labels/0364.csv
data/train/labels/0366.csv
data/train/labels/0368.csv
data/train/labels/0372.csv
data/train/labels/0375.csv
data/train/labels/0386.csv
data/train/labels/0392.csv
data/train/labels/0393.csv
data/train/labels/0397.csv
data/train/labels/0409.csv
data/train/labels/0410.csv
data/train/labels/0418.csv
data/train/labels/0420.csv
data/train/labels/0423.csv
data/train/labels/0432.csv
data/train/labels/0434.csv
data/train/labels/0440.csv
data/train/labels/0447.csv
data/train/labels/0452.csv
data/train/labels/0453.csv
data/train/labels/0455.csv
data/train/labels/0457.csv
data/train/labels/0458.csv
data/train/labels/0461.csv
data/train/labels/0494.csv
data/train/labels/0497.csv
data/train/labels/0500.csv
data/train/labels/0504.csv
data/train/labels/0509.csv
data/train/labels/0519.csv
data/train/labels/0523.csv
data/train/labels/0545.csv
data/train/labels/0554.csv
data/train/labels/0569.csv
data/train/labels/0573.csv
data/train/labels/0598.csv
data/train/labels/0599.csv
data/train/labels/0607.csv
data/train/labels/0608.csv
data/train/labels/0611.csv
data/train/labels/0616.csv
data/train/labels/0620.csv
data/train/labels/0627.csv
data/train/labels/0628.csv
data/train/labels/0632.csv
data/train/labels/0633.csv
data/train/labels/0634.csv
data/train/labels/0644.csv
data/train/labels/0653.csv
data/train/labels/0654.csv
data/train/labels/0665.csv
data/train/labels/0696.csv
data/train/labels/0706.csv
data/train/labels/0722.csv
data/train/labels/0724.csv
data/train/labels/0729.csv
data/train/labels/0736.csv
data/train/labels/0737.csv
data/train/labels/0749.csv
data/train/labels/0751.csv
data/train/labels/0754.csv
data/train/labels/0756.csv
data/train/labels/0769.csv
data/train/labels/0780.csv
data/train/labels/0781.csv
data/train/labels/0782.csv
data/train/labels/0786.csv
data/train/labels/0788.csv
data/train/labels/0791.csv
data/train/labels/0803.csv
data/train/labels/0813.csv
data/train/labels/0816.csv
data/train/labels/0818.csv
data/train/labels/0819.csv
data/train/labels/0821.csv
data/train/labels/0848.csv
data/train/labels/0849.csv
data/train/labels/0851.csv
data/train/labels/0862.csv
data/train/labels/0868.csv
data/train/labels/0869.csv
data/train/labels/0874.csv
data/train/labels/0877.csv
data/val/images/0216.jpg
data/val/images/0442.jpg
data/val/images/0698.jpg
data/val/labels/0054.csv
data/val/labels/0137.csv
data/val/labels/0145.csv
data/val/labels/0215.csv
data/val/labels/0216.csv
data/val/labels/0272.csv
data/val/labels/0442.csv
data/val/labels/0479.csv
data/val/labels/0576.csv
data/val/labels/0681.csv
data/val/labels/0698.csv
data/val/labels/0709.csv
data/val/labels/0744.csv
data/val/labels/0748.csv
data/val/labels/0839.csv
